/coan/
/minimal/
/sf/
__pycache__/
build/
src/python/_ext
src/python/venv/
src/python/dist/
src/python/numpy/
src/python/MANIFEST
cmake-build-debug/
cmake-build-release/
rfcnt.egg-info
.idea/
.vscode/
.editorconfig/
.so
.sublime-workspace
