build/
coan/
minimal/
sf/
src/python/__pycache__/
src/python/build/
src/python/venv/
src/python/dist/
src/python/numpy/
src/python/MANIFEST
src/src/config.h
src/python/tests/__pycache__/
.vscode/
.editorconfig/
*.so
python/rfcnt.egg-info/
/*.sublime-workspace
cmake-build-debug
cmake-build-release
/src/python/_ext
rfcnt.egg-info
