[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "numpy>=2.0",
]
build-backend = "setuptools.build_meta"

[tool.ruff]
target-version = "py39"

[tool.ruff.lint.per-file-ignores]
"*.pyi" = ["UP007", "PYI021", "N803", "PYI011"]